@import url("https://fonts.googleapis.com/css?family=Dosis|Droid+Sans|Roboto|Ubuntu");
/* line 5, ../sass/partials/_fonts.sass */
h1 {
  font-size: 3rem;
}

/* line 1, ../sass/partials/_framework.sass */
* {
  font-size: 16px;
  box-sizing: border-box;
  letter-spacing: 1px;
}

/* line 6, ../sass/partials/_framework.sass */
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 13, ../sass/partials/_framework.sass */
body {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #101010;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  font-family: Ubuntu;
}

/* line 41, ../sass/partials/_framework.sass */
.background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  z-index: -1;
  display: block;
}
@media (min-width: 300px) and (max-width: 576px) {
  /* line 54, ../sass/partials/_framework.sass */
  .background-img .img-responsive-item {
    width: 1000px;
    transform: translate(-25%, 10%);
  }
}
@media (min-width: 577px) and (max-width: 899px) {
  /* line 58, ../sass/partials/_framework.sass */
  .background-img .img-responsive-item {
    width: 1000px;
    transform: translate(-10%, 10%);
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  /* line 62, ../sass/partials/_framework.sass */
  .background-img .img-responsive-item {
    width: 1300px;
    transform: translate(0%, 0%);
  }
}
@media (min-width: 1200px) {
  /* line 66, ../sass/partials/_framework.sass */
  .background-img .img-responsive-item {
    width: 1600px;
    transform: translate(0%, 0%);
  }
}

/* line 70, ../sass/partials/_framework.sass */
.container-fluid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 75, ../sass/partials/_framework.sass */
.row {
  padding-top: 80px;
}

/* line 78, ../sass/partials/_framework.sass */
footer {
  width: 100%;
  height: 80px;
  margin-top: 80px;
}
/* line 82, ../sass/partials/_framework.sass */
footer h1 {
  padding-top: 15px;
  text-align: center;
  color: rgba(55, 55, 55, 0.7);
  border-top: thin solid #323232;
  font-size: 2rem;
}
@media screen and (min-width: 576px) {
  /* line 82, ../sass/partials/_framework.sass */
  footer h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  /* line 82, ../sass/partials/_framework.sass */
  footer h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 992px) {
  /* line 82, ../sass/partials/_framework.sass */
  footer h1 {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1200px) {
  /* line 82, ../sass/partials/_framework.sass */
  footer h1 {
    font-size: 6rem;
  }
}

/* line 91, ../sass/partials/_framework.sass */
#section41 {
  padding-top: 50px;
  color: #fff;
  min-height: 70vh;
}
@media screen and (min-width: 576px) {
  /* line 91, ../sass/partials/_framework.sass */
  #section41 {
    min-height: 70vh;
  }
}
@media screen and (min-width: 768px) {
  /* line 91, ../sass/partials/_framework.sass */
  #section41 {
    min-height: 70vh;
  }
}
@media screen and (min-width: 992px) {
  /* line 91, ../sass/partials/_framework.sass */
  #section41 {
    min-height: 70vh;
  }
}
@media screen and (min-width: 1200px) {
  /* line 91, ../sass/partials/_framework.sass */
  #section41 {
    min-height: 80vh;
  }
}

/* line 96, ../sass/partials/_framework.sass */
#section42 {
  padding-top: 50px;
  color: #fff;
  min-height: 70vh;
}
@media screen and (min-width: 576px) {
  /* line 96, ../sass/partials/_framework.sass */
  #section42 {
    min-height: 70vh;
  }
}
@media screen and (min-width: 768px) {
  /* line 96, ../sass/partials/_framework.sass */
  #section42 {
    min-height: 70vh;
  }
}
@media screen and (min-width: 992px) {
  /* line 96, ../sass/partials/_framework.sass */
  #section42 {
    min-height: 70vh;
  }
}
@media screen and (min-width: 1200px) {
  /* line 96, ../sass/partials/_framework.sass */
  #section42 {
    min-height: 80vh;
  }
}

/* line 1, ../sass/partials/_navigation.sass */
nav {
  height: auto;
  margin: 0;
  padding: auto 10px;
  background: rgba(33, 33, 33, 0.7);
}
/* line 7, ../sass/partials/_navigation.sass */
nav .navbar-header {
  margin: 0;
  padding: auto 10px;
}
/* line 11, ../sass/partials/_navigation.sass */
nav .navbar-header .navbar-toggle {
  margin-right: 40px;
  background: rgba(33, 33, 33, 0.7);
  border: 1px solid #7F5237;
}
/* line 16, ../sass/partials/_navigation.sass */
nav .navbar-header .navbar-toggle .icon-bar {
  background: #7F5237;
  z-index: 20;
}
/* line 19, ../sass/partials/_navigation.sass */
nav .navbar-header .navbar-brand {
  margin: 0;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 0.5px 1px rgba(200, 200, 200, 0.6);
}
/* line 30, ../sass/partials/_navigation.sass */
nav div #myNavbar {
  color: #fff;
}

/* line 33, ../sass/partials/_navigation.sass */
.nav.navbar-nav {
  color: #fff;
  border-bottom: thin solid #61453A;
  border-left: thin solid #61453A;
  background: rgba(44, 44, 44, 0.5);
}
/* line 39, ../sass/partials/_navigation.sass */
.nav.navbar-nav li {
  color: #fff;
}
/* line 44, ../sass/partials/_navigation.sass */
.nav.navbar-nav li a {
  padding: 20px;
  font-size: 3rem;
  color: #999;
}
/* line 48, ../sass/partials/_navigation.sass */
.nav.navbar-nav li a:hover {
  color: #222;
  background: #999;
}
@media screen and (max-width: 1024px) {
  /* line 44, ../sass/partials/_navigation.sass */
  .nav.navbar-nav li a {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  /* line 44, ../sass/partials/_navigation.sass */
  .nav.navbar-nav li a {
    font-size: 1.5rem;
  }
}

/* line 3, ../sass/partials/_section1.sass */
#section1 {
  padding: 80px 0 40px;
  color: #fff;
  border-bottom: thin solid #7F5237;
}
/* line 10, ../sass/partials/_section1.sass */
#section1 .art-1-container {
  width: 70%;
  margin: 10vh auto;
  padding: 10px;
  background: rgba(200, 80, 10, 0.3);
  border-radius: 20px;
  opacity: 0;
  transform: scale(0.5);
  transition: 3s ease-in-out 0.3s;
}
/* line 19, ../sass/partials/_section1.sass */
#section1 .art-1-container .art-1-info {
  width: 90%;
  margin: auto;
  background: rgba(33, 33, 33, 0.7);
  border-radius: 20px;
  transition: 1.5s ease-in-out 0.1s;
}
/* line 26, ../sass/partials/_section1.sass */
#section1 .art-1-container .art-1-info h1 {
  margin: 0 auto;
  padding: 0;
  margin: 0 0 20px;
  text-align: center;
  background: rgba(33, 33, 33, 0.1);
  transition: 2.5s ease-in-out 0.5s;
}
/* line 33, ../sass/partials/_section1.sass */
#section1 .art-1-container .art-1-info p {
  margin: 0 auto;
  padding: 0;
  margin: 0 0 20px;
  text-align: center;
  line-height: 1.8em;
  color: #fff;
  transform: translateX(-100%);
  font-size: 1.5rem;
  transition: 2s ease-in-out 0.3s;
}
@media screen and (min-width: 576px) {
  /* line 33, ../sass/partials/_section1.sass */
  #section1 .art-1-container .art-1-info p {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  /* line 33, ../sass/partials/_section1.sass */
  #section1 .art-1-container .art-1-info p {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  /* line 33, ../sass/partials/_section1.sass */
  #section1 .art-1-container .art-1-info p {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  /* line 33, ../sass/partials/_section1.sass */
  #section1 .art-1-container .art-1-info p {
    font-size: 3.5rem;
  }
}
/* line 44, ../sass/partials/_section1.sass */
#section1 .art-1-container .art-1-info img {
  width: 60%;
  margin: 10px 20%;
  border-radius: 20px;
  border: thin solid #444;
  box-shadow: 2x 3px 1px #7F5237;
  transition: 2s ease-in-out 0.3s;
}

/* line 53, ../sass/partials/_section1.sass */
#section1:hover .art-1-container {
  margin-top: 10vh;
  opacity: 1;
  box-sizing: border-box;
  background: rgba(200, 0, 0, 0.3);
  transform: scale(1.2);
}
@media screen and (max-width: 900px) {
  /* line 53, ../sass/partials/_section1.sass */
  #section1:hover .art-1-container {
    margin-top: 50px;
  }
}

/* line 62, ../sass/partials/_section1.sass */
#section1:hover .art-1-info {
  border: thin solid #555;
  box-shadow: 2px 2px #c8c8c8;
  background: #212121;
}
/* line 66, ../sass/partials/_section1.sass */
#section1:hover .art-1-info h1 {
  width: 100%;
  margin: 0 auto 10px;
  padding: 0;
  background: #c8c8c8;
  color: #333;
  border-radius: 20px 20px 0 0;
  transform: rotateX(720deg);
  font-size: 2rem;
}
@media screen and (min-width: 576px) {
  /* line 66, ../sass/partials/_section1.sass */
  #section1:hover .art-1-info h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 768px) {
  /* line 66, ../sass/partials/_section1.sass */
  #section1:hover .art-1-info h1 {
    font-size: 5rem;
  }
}
@media screen and (min-width: 992px) {
  /* line 66, ../sass/partials/_section1.sass */
  #section1:hover .art-1-info h1 {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1200px) {
  /* line 66, ../sass/partials/_section1.sass */
  #section1:hover .art-1-info h1 {
    font-size: 7rem;
  }
}
/* line 76, ../sass/partials/_section1.sass */
#section1:hover .art-1-info p {
  margin: 0;
  padding: 0;
  color: darkred;
  text-shadow: 0.5px 0.5px #333;
  background: rgba(240, 240, 240, 0.3);
  transform: translateX(0%);
  font-size: 1.5rem;
}
@media screen and (min-width: 576px) {
  /* line 76, ../sass/partials/_section1.sass */
  #section1:hover .art-1-info p {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  /* line 76, ../sass/partials/_section1.sass */
  #section1:hover .art-1-info p {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  /* line 76, ../sass/partials/_section1.sass */
  #section1:hover .art-1-info p {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  /* line 76, ../sass/partials/_section1.sass */
  #section1:hover .art-1-info p {
    font-size: 3.5rem;
  }
}
/* line 84, ../sass/partials/_section1.sass */
#section1:hover .art-1-info img {
  transform: rotateZ(720deg);
}

/* line 89, ../sass/partials/_section1.sass */
.section-tap {
  position: absolute;
  padding: 20px;
  top: 25vh;
  left: 0;
  opacity: 0.8;
  z-index: 99;
  visibility: visible;
  background: #333;
  border-radius: 20px 0;
  border: thin solid #7F5237;
  transition: 1s ease-in-out 0.05s;
  font-size: 1.5rem;
}
@media screen and (min-width: 576px) {
  /* line 89, ../sass/partials/_section1.sass */
  .section-tap {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  /* line 89, ../sass/partials/_section1.sass */
  .section-tap {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  /* line 89, ../sass/partials/_section1.sass */
  .section-tap {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  /* line 89, ../sass/partials/_section1.sass */
  .section-tap {
    font-size: 3.5rem;
  }
}

/* line 102, ../sass/partials/_section1.sass */
#section1:hover .section-tap {
  opacity: 0;
  transform: scale(0.2) translateY(-600px) rotateX(1440deg);
}

/* line 3, ../sass/partials/_section2.sass */
#section2 {
  padding: 80px 0;
  color: #fff;
  overflow-x: hidden;
  border-bottom: thin solid #c8640a;
  min-height: 70vh;
}
@media screen and (min-width: 576px) {
  /* line 3, ../sass/partials/_section2.sass */
  #section2 {
    min-height: 70vh;
  }
}
@media screen and (min-width: 768px) {
  /* line 3, ../sass/partials/_section2.sass */
  #section2 {
    min-height: 70vh;
  }
}
@media screen and (min-width: 992px) {
  /* line 3, ../sass/partials/_section2.sass */
  #section2 {
    min-height: 70vh;
  }
}
@media screen and (min-width: 1200px) {
  /* line 3, ../sass/partials/_section2.sass */
  #section2 {
    min-height: 80vh;
  }
}
/* line 9, ../sass/partials/_section2.sass */
#section2:hover .audio-container {
  transform: translateX(0%);
  opacity: 1;
}
/* line 12, ../sass/partials/_section2.sass */
#section2 .magic {
  width: 300px;
  height: auto;
  margin: 15vh auto 20px;
  padding: 0;
  text-align: center;
  background: rgba(200, 200, 200, 0.3);
  border-radius: 30px 0;
  box-sizing: border-box;
  opacity: 1;
  transform: scale(0.5, 0.5);
  transition: 1s ease-in-out 0.05s;
}
/* line 24, ../sass/partials/_section2.sass */
#section2 .magic h1 {
  margin: 40px 0 0;
  border-radius: 30px 0 0 0;
  background: #222;
  transition: 1.5s ease-in-out 0.1s;
}
/* line 32, ../sass/partials/_section2.sass */
#section2 .magic p {
  margin: 0;
  padding: 5px;
  transition: 2s ease-in-out 0.3s;
}

/* line 39, ../sass/partials/_section2.sass */
#section2:hover .magic {
  transform: scale(1.6);
  opacity: 1;
}
@media screen and (max-width: 900px) {
  /* line 39, ../sass/partials/_section2.sass */
  #section2:hover .magic {
    transform: scale(1);
  }
}
/* line 44, ../sass/partials/_section2.sass */
#section2:hover .magic h1 {
  transform: translateX(0%);
}
/* line 46, ../sass/partials/_section2.sass */
#section2:hover .magic p {
  border-radius: 0 0 25px 0;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: translateX(0%);
}

/* line 56, ../sass/partials/_section2.sass */
.music {
  margin: 40px 0 0;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
/* line 62, ../sass/partials/_section2.sass */
.music .audio-container {
  width: 320px;
  margin: 0 0 20px;
  padding: 3px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #444;
  border: thin solid #fff;
  border-bottom: none;
  border-radius: 20px 20px 0 0;
  box-shadow: 1px 1px 1px #7F5237;
  opacity: 0;
  transform: translateX(-390%);
  transition: 2.5s ease-in-out 0.5s;
}
@media screen and (max-width: 900px) {
  /* line 62, ../sass/partials/_section2.sass */
  .music .audio-container {
    transform: translateX(-230%);
  }
}
/* line 79, ../sass/partials/_section2.sass */
.music .audio-container p {
  width: 100%;
  text-shadow: 1px 1px #222;
  text-align: center;
  border-bottom: medium solid #7F5237;
}
/* line 84, ../sass/partials/_section2.sass */
.music .audio-container audio {
  width: 100%;
  background: #333;
}

/* line 1, ../sass/partials/_section3.sass */
#section3 {
  width: 100%;
  margin: 0;
  padding-top: 50px;
  color: #fff;
  min-height: 70vh;
}
@media screen and (min-width: 576px) {
  /* line 1, ../sass/partials/_section3.sass */
  #section3 {
    min-height: 70vh;
  }
}
@media screen and (min-width: 768px) {
  /* line 1, ../sass/partials/_section3.sass */
  #section3 {
    min-height: 70vh;
  }
}
@media screen and (min-width: 992px) {
  /* line 1, ../sass/partials/_section3.sass */
  #section3 {
    min-height: 70vh;
  }
}
@media screen and (min-width: 1200px) {
  /* line 1, ../sass/partials/_section3.sass */
  #section3 {
    min-height: 80vh;
  }
}
/* line 7, ../sass/partials/_section3.sass */
#section3 .map-container {
  width: 60%;
  margin: 0 20%;
  padding: 0;
}
/* line 11, ../sass/partials/_section3.sass */
#section3 .map-container iframe {
  width: 100%;
  height: 320px;
}
/* line 15, ../sass/partials/_section3.sass */
#section3 .info-container {
  width: 80%;
  margin: 20px 10% 20px;
  padding: 0;
  text-align: center;
  color: #fff;
  background: #212121;
  border-radius: 30px 0;
}
/* line 23, ../sass/partials/_section3.sass */
#section3 .info-container h2 {
  width: 100%;
  margin: 0;
  padding: 10px;
  border: thin solid #fff;
  border-radius: 30px 0 0;
  background: rgba(200, 100, 10, 0.2);
  font-size: 2rem;
}
@media screen and (min-width: 576px) {
  /* line 23, ../sass/partials/_section3.sass */
  #section3 .info-container h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  /* line 23, ../sass/partials/_section3.sass */
  #section3 .info-container h2 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 992px) {
  /* line 23, ../sass/partials/_section3.sass */
  #section3 .info-container h2 {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1200px) {
  /* line 23, ../sass/partials/_section3.sass */
  #section3 .info-container h2 {
    font-size: 6rem;
  }
}
/* line 31, ../sass/partials/_section3.sass */
#section3 .info-container ul {
  padding: 10px;
}
/* line 33, ../sass/partials/_section3.sass */
#section3 .info-container ul li {
  list-style: none;
  line-height: 4rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 576px) {
  /* line 33, ../sass/partials/_section3.sass */
  #section3 .info-container ul li {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  /* line 33, ../sass/partials/_section3.sass */
  #section3 .info-container ul li {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  /* line 33, ../sass/partials/_section3.sass */
  #section3 .info-container ul li {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  /* line 33, ../sass/partials/_section3.sass */
  #section3 .info-container ul li {
    font-size: 3.5rem;
  }
}

/* line 39, ../sass/partials/_section3.sass */
.panel-heading {
  margin: 0;
  padding: 0;
}
/* line 41, ../sass/partials/_section3.sass */
.panel-heading .panel-title {
  margin: 0;
  padding: 0;
  background: #333;
}
/* line 44, ../sass/partials/_section3.sass */
.panel-heading .panel-title a {
  display: flex;
  font-size: 1.5em;
  padding: 10px 0 10px 1em;
  color: #f0f0f0;
}
/* line 49, ../sass/partials/_section3.sass */
.panel-heading .panel-title a:hover {
  text-decoration: none;
  background: #412D1C;
}

/* line 53, ../sass/partials/_section3.sass */
.panel-body {
  color: #333;
}
